<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udemy.suraj.micro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityOne"
            android:label="@string/app_name2" />
        <activity
            android:name=".ActivityTwo"
            android:label="@string/app_name3" />
        <activity
            android:name=".ActivityThree"
            android:label="Programs of 8086" />
        <activity android:name=".ActivityThree1" />
        <activity
            android:name=".ActivityThree11"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree12"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree13"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree14"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree15"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree16"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree17"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree18"
            android:label="8086 Programs" />
        <activity
            android:name=".ActivityThree19"
            android:label="8086 Programs" />
        <activity android:name=".TrialActivity"
            android:label="8086 Instruction Sets"/>
        <activity android:name=".ActivityFour"
            android:label="8086 Instruction Sets"></activity>
    </application>

</manifest>